@font-face {
	font-family: 'Barlow';
	src:url('../fonts/Barlow-SemiBold.ttf') format('truetype')
}

@font-face {
	font-family: 'Fraunces';
	src:url('../fonts/static/Fraunces_144pt-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'FrauncesBold';
	src:url('../fonts/static/Fraunces_144pt-Black.ttf') format('truetype')
}