//COLORS
$softRed:hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$graphicText:hsl(167, 40%, 24%);
$photoText:hsl(198, 62%, 26%);
$cyanFooter:hsl(168, 34%, 41%);
$footer:#90D4C5;

$darkBlue:hsl(212, 27%, 19%);
$DarkGrayBlue:hsl(213, 9%, 39%);
$MediumGrayBlue:hsl(232, 10%, 55%);
$LightGrayBlue:hsl(210, 4%, 67%);
$white:hsl(0, 0%, 100%);


